/* Regole di reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0px auto;
}

/* ***** Header ***** */
header {
    height: 80px;
    background-color: #ff6d00;
    color: white;
    /* position: fixed;
    width: 100%;
    z-index: 1; */
}

header .row {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style: none;
}

header li {
    display: inline;
    padding-right: 10px;
}

header a {
    text-decoration: none;
    color: currentColor;
}

header img {
    height: 30px;
}

/* ***** Main ***** */

main {
    padding: 30px 0px;
}

main .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    height: 500px;
    width: 300px;
    margin-bottom: 20px;
}

.img {
    width: 100%;
    height: 85%;
    position: relative;
}

.img img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.hover-img {
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: -1;
}

.hover-img:hover {
    z-index: 1;
}

.favorite {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 250px;
    top: 10px;
    text-align: center;
    background-color: white;
}

.favorite span {
    font-size: 36px;
}

.info {
    height: 20px;
    width: 100%;
    position: absolute;
    top: 90%;
    color: white;
    font-size: 14px;
}

.discount {
    height: 100%;
    display: inline-block;
    background-color: red;
    padding: 0px 5px;
}

.sustain {
    height: 100%;
    display: inline-block;
    background-color: green;
    padding: 0px 5px;
}

.desc {
    width: 100%;
    height: 15%;
}

.brand span {
    font-size: 12px;
}

.name span {
    font-weight: bold;
    font-size: 14px;
}

.price span {
    font-size: 12px;
}

.new-price {
    color: red;
}

.old-price {
    text-decoration: line-through;
}

/* ***** Footer ***** */
footer {
    background-color: black;
    height: 100px;
    padding: 20px 0px;
}

footer .row {
    color: white;
    display: flex;
    justify-content: space-between;
}

footer h2 {
    font-size: 16px;
}

footer span {
    font-size: 14px;
    padding-right: 5px;
}